/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400/700')
@import './colors'

body
    font-family: 'Open Sans'
    background-color: $light
    color: $dark